$ft-sz-0_6rem-lg: 0.6rem;
$ft-sz-10-lg: 10px;
$ft-sz-11-lg: 11px;
$ft-sz-12-lg: 12px;
$ft-sz-13-lg: 13px;
$ft-sz-14-lg: 14px;
$ft-sz-16-lg: 16px;
$ft-sz-18-lg: 18px;
$ft-sz-1_1em-lg:1.1em;
$ft-sz-1_4rem-lg: 1.4rem;
$ft-sz-1em-lg: 1em;
$ft-sz-1rem-lg: 1rem;
$ft-sz-20-lg: 20px;
$ft-sz-24-lg: 24px;
$ft-sz-2em-lg:2em;
$ft-sz-35-lg: 35px;
$ft-sz-45-lg: 45px;


$lh-1_4em-lg: 1.4em;
$lh-1em-lg: 1em;
$lh-20-lg: 20px;
$lh-27-lg: 27px;
$lh-28-lg: 28px;
$lh-54-lg: 54px;

$ft-sz-0_6rem-md: 0.6rem;
$ft-sz-10-md: 8px;
$ft-sz-11-md: 9px;
$ft-sz-12-md: 10px;
$ft-sz-13-md: 11px;
$ft-sz-14-md: 12px;
$ft-sz-16-md: 14px;
$ft-sz-18-md: 16px;
$ft-sz-1_1em-md:1.1em;
$ft-sz-1_4rem-md: 1.4rem;
$ft-sz-1em-md: 1em;
$ft-sz-1rem-md: 1rem;
$ft-sz-20-md: 17px;
$ft-sz-24-md: 20px;
$ft-sz-2em-md:2em;
$ft-sz-35-md: 28px;
$ft-sz-45-md: 35px;

$lh-1_4em-md: 1.2em;
$lh-1em-md: 0.9em;
$lh-20-md: 18px;
$lh-27-md: 24px;
$lh-28-md: 25px;
$lh-54-md: 45px;

$ft-sz-0_6rem-sm: 0.6rem;
$ft-sz-10-sm: 7px;
$ft-sz-11-sm: 8px;
$ft-sz-12-sm: 9px;
$ft-sz-13-sm: 10px;
$ft-sz-14-sm: 11px;
$ft-sz-16-sm: 13px;
$ft-sz-18-sm: 14px;
$ft-sz-1_1em-sm:1.1em;
$ft-sz-1_4rem-sm: 1.4rem;
$ft-sz-1em-sm: 1em;
$ft-sz-1rem-sm: 1rem;
$ft-sz-20-sm: 15px;
$ft-sz-24-sm: 17px;
$ft-sz-2em-sm:2em;
$ft-sz-35-sm: 24px;
$ft-sz-45-sm: 30px;

$lh-1_4em-sm: 1.1em;
$lh-1em-sm: 0.8em;
$lh-20-sm: 15px;
$lh-27-sm: 20px;
$lh-28-sm: 23px;
$lh-54-sm: 30px;

$ft-sz-0_6rem-xs: 0.6rem;
$ft-sz-10-xs: 6.5x;
$ft-sz-11-xs: 7.5px;
$ft-sz-12-xs: 8.5px;
$ft-sz-13-xs: 10px;
$ft-sz-14-xs: 11px;
$ft-sz-16-xs: 12px;
$ft-sz-18-xs: 13px;
$ft-sz-1_1rem-xs:1.1em;
$ft-sz-1_4rem-xs: 1.4rem;
$ft-sz-1em-xs: 1em;
$ft-sz-1rem-xs: 1rem;
$ft-sz-20-xs: 14px;
$ft-sz-24-xs: 16px;
$ft-sz-2em-xs:2em;
$ft-sz-35-xs: 20px;
$ft-sz-45-xs: 24px;

$lh-1_4em-xs: 1em;
$lh-1em-xs: 0.7em;
$lh-20-xs: 13px;
$lh-27-xs: 17px;
$lh-28-xs: 19px;
$lh-54-xs: 24px;