<app-navbar></app-navbar>
<div class="container">
    <div class="top-header">
        <div class="logo text-center">

            <img src="assets/img/logo.png" width="150" alt="logo, world of chanoyu" class="logo">
            <br />
            <span class="text-mini text-center text-gold">Monde de Chanoyu</span>
            <h2 class="article-title  text-center">茶の湯の世界</h2>
            <span class="divider-more"></span>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
<app-ext-notif></app-ext-notif>
<app-footer></app-footer>