<div *ngIf="panel else loading">
    <div class="side-panel" *ngIf="panel.type == 'follow'">
        <h2 class="widget-header">{{panel.title}}</h2>
        <div class="side-panel-body" [ngClass]="panel.type">
            <a class="social">
                <a *ngFor="let media of panel.item" [href]="[media.link]" target="_blank"
                    class="btn btn-round btn-spin btn-social"><i [ngClass]="media.icon"></i></a>
            </a>
        </div>
    </div>
    <div class="side-panel" *ngIf="panel.type == 'top'">
        <h2 class="widget-header">{{panel.title}}</h2>
        <div class="side-panel-body" [ngClass]="panel.type">
            <ul class="top-container">
                <li class="top-wrap" *ngFor="let top of panel.item">

                    <div class="top-img cover-img" [lazyLoad]="top.img">
                        <div class="overlay-img">
                            <div class="btn-over-img">
                                <button class="btn btn-spin btn-social"><i class="material-icons">
                                        bookmarks
                                    </i></button>
                                <button class="btn btn-spin btn-social"><i
                                        class="material-icons">star_outline</i></button>
                                <button class="btn btn-spin btn-social"><i class="material-icons">share</i></button>
                            </div>
                        </div>
                    </div>
                    <div class="top-meta">
                        <span class="text-mini text-gold">{{top.category}}</span>
                        <h2 class="text-mini"><a href="">{{top.title}}</a></h2>
                        <span class="text-muted">{{top.date | date}}</span>
                        <span class="divider-title"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="side-panel" *ngIf="panel.type == 'about'">
        <h2 class="widget-header">{{panel.title}}</h2>
        <div class="side-panel-body" [ngClass]="panel.type">
            <div [lazyLoad]="panel.item.img" class="about-img"></div>
            <h2 class="widget-title">{{panel.item.title}}</h2>
            <div class="article-body">
                <p>
                    {{panel.item.contentPrev}}
                </p>
            </div>
        </div>


    </div>

    <div class="side-panel" *ngIf="panel.type == 'banner_spot_if'" #container>
        <div class="banner_spot">
            <iframe class="scroll" [src]="panel.item.link" [width]="container.offsetWidth" [height]="300"
                scrolling="{{panel.item.scrolling}}" frameborder="0"
                allowTransparency="{{panel.item.allowTransparency}}" allow="encrypted-media"></iframe>
        </div>
    </div>

    <div class="side-panel" *ngIf="panel.type == 'picture'">
        <h2 class="widget-header">{{panel.title}}</h2>
        <div class="side-panel-body" [ngClass]="panel.type">
            <ul class="picture-container">
                <li class="picture-wrap" *ngFor="let insta of panel.item">
                    <a href="" class="inst-photo">
                        <div class="cover-img" [lazyLoad]="insta.link">
                            <div class="overlay-img-reverse"></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div style="clear: both;"></div>
    </div>

    <div class="side-panel" *ngIf="panel.type == 'banner_spot'">
        <div [ngClass]="panel.type">
            <a [routerLink]="[panel.item.link]"><img [src]="panel.item.img" alt=""></a>
        </div>
    </div>

    <div class="side-panel" *ngIf="panel.type == 'category'">
        <h2 class="widget-header">{{panel.title}}</h2>
        <div class="side-panel-body" [ngClass]="panel.type">
            <ul class="category-container">
                <li class="category-wrap" *ngFor="let cat of panel.item">
                    <a href="" class="cat link">
                        {{cat.name}} <span class="text-muted">({{cat.count}})</span>
                    </a>
                </li>

            </ul>

        </div>
    </div>
</div>

<ng-template #loading>
    <div>Loading...</div>
</ng-template>