<div class="article-list" *ngIf="data else loading">
    <ul class="card-list">
        <li class="card-container" *ngFor="let article of data">
            <div class="card">
                <div class="card-img" [defaultImage]="" [lazyLoad]="endpointApi+'/assets/img/md_'+article.img">
                    <div class="overlay-img">
                        <div class="btn-over-img list">
                            <button class="btn btn-spin btn-social"><i class="material-icons">
                                    bookmarks
                                </i></button>
                            <button class="btn btn-spin btn-social"><i class="material-icons">star_outline</i></button>
                            <button class="btn btn-spin btn-social"><i class="material-icons">share</i></button>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class=" card-header">

                        <span class="text-mini text-gold pointer"> <a href="/#">{{article.category}}</a> </span>
                        <h2 class="article-title pointer" id="best_art_title"><a
                                [routerLink]="['/post', article._id]">{{article.title}}</a></h2>
                        <span class="divider-title-list"></span>

                    </div>
                    <div class="card-footer">
                        <span class="text-muted">{{article.date | date}}</span>
                    </div>
                    <div class="card-body">
                        <div class="article-body">

                            <div class="article-content" [innerHTML]="article.prev"></div>

                        </div>
                    </div>

                </div>
            </div>
        </li>

    </ul>

</div>

<ng-template #loading>Loading ...</ng-template>